.bv-container .container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.bv-video{
    margin-top: -10rem;
    border-radius: 4rem ;
    z-index: 1;
    width: 95%;
}
@media (max-width:1024px){
    .bv-video{
      margin-top: 1rem;
    }
}

@media (max-width: 768px){
    .bv-video{
      margin-top: 2rem;
    }
}